{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% load url from future %}
{% load render_table from django_tables2 %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />



<link type="text/css" href="{% static 'jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css'%}" rel="Stylesheet" />

<link rel="stylesheet" href="{% static 'jgantt/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'jgantt/css/bootstrap.css' %}" />


<script type="text/javascript" src="{% static 'jquery/js/jquery-1.9.0.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery/js/jquery-ui-1.10.0.custom.min.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery/development-bundle/ui/i18n/jquery.ui.datepicker-de.js'%}"></script>


<script src="{% static 'jgantt/js/jquery.fn.gantt.js' %}"></script>

<script>
$(function() {
  $( "#id_Von" ).datepicker({
showButtonPanel: true,
changeMonth: true,
changeYear: true,
yearRange: "-5:+20", 
showOn: "button",
buttonImage: "{% static 'jquery/development-bundle/demos/images/calendar.gif' %}",
buttonImageOnly: true});
});
</script>

<script>
$(function() {
  $( "#id_Bis" ).datepicker({
showButtonPanel: true,
changeMonth: true,
yearRange: "-5:+20", 
changeYear: true,
showOn: "button",
buttonImage: "{% static 'jquery/development-bundle/demos/images/calendar.gif' %}",
buttonImageOnly: true});
});
</script>

<script>
  $(function() {
    $( "#accordion" ).accordion({ collapsible: true,
                                 heightStyle: "content",
                                  animate: 20});
  });
</script>

<!-- TODO: think about whether to move to this style: http://jsfiddle.net/DkHyd/ or http://anasnakawa.wordpress.com/2011/01/25/jquery-ui-multi-open-accordion/ http://code.google.com/p/jquery-multi-open-accordion/  -->


{% if Accordion %}
{% for h in Accordion %}
  <!-- create a tab script for each accordion -->
  <script>
     $(function() {
     $( "#tabs-{{h.key}}" ).tabs();
     });
   </script>

   <!-- does this accordion have a Gantt entry? then its content goes here -->
  {% for tabentry in h.content %}
     {% ifequal tabentry.t "Gantt" %}
         {{ tabentry.c|safe}}
     {% endifequal %} 
  {% endfor %}
{% endfor %}
{% endif %} 



{% endblock %}


{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action = "{% url urlTarget %}" method="GET" >
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Abfrage" />
</form>

<br>

<hr>

{% if error_message %}
<!-- error, dont do anything -->

{% else %}


{% if Accordion %}

  <div id="accordion"> 
  {% for h in Accordion %}
    <h3> {{ h.title }} </h3>
    <div>
      {% if h.mainContent %}
        {% render_table h.mainContent %}
      {% endif %}

      <!--  only insert tabs if they are present -->
      {% if h.content|length > 0 %}
      <div id="tabs-{{h.key}}">
	<ul>
	  {% for refs in h.content %}
	  <li>  <a href="#tabs-{{h.key}}-{{forloop.counter}}"> {{refs.t}}  </a> </li> 
	  {% endfor %} 
	</ul>
	{% for refs in h.content %}
  	  <div id="tabs-{{h.key}}-{{forloop.counter}}">
	    {% ifequal refs.t "Tabelle" %}
	      {% render_table refs.c %}
	    {% else %}
	      {% ifequal refs.t "Gantt" %}
	         <div class="{{h.key}}"> </div>  
	      {% else %}
	         {{ refs.c }} 
	      {% endifequal %}
	    {% endifequal %} 
	  </div>
	{% endfor %} 
      </div> <!-- end of div tabs -->
      {% endif %}
    </div>
  {% endfor %}
  </div> <!-- end accordion --> 
{% endif %} 




{% endif %}




{% endblock %}

