{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />



<link type="text/css" href="{% static 'jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css'%}" rel="Stylesheet" />
<script type="text/javascript" src="{% static 'jquery/js/jquery-1.9.0.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery/js/jquery-ui-1.10.0.custom.min.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery/development-bundle/ui/i18n/jquery.ui.datepicker-de.js'%}"></script>

<script>
$(function() {
  $( "#id_Von" ).datepicker({
showButtonPanel: true,
changeMonth: true,
changeYear: true,
yearRange: "-5:+20", 
showOn: "button",
buttonImage: "{% static 'jquery/development-bundle/demos/images/calendar.gif' %}",
buttonImageOnly: true});
});
</script>

<script>
$(function() {
  $( "#id_Bis" ).datepicker({
showButtonPanel: true,
changeMonth: true,
yearRange: "-5:+20", 
changeYear: true,
showOn: "button",
buttonImage: "{% static 'jquery/development-bundle/demos/images/calendar.gif' %}",
buttonImageOnly: true});
});
</script>

<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>


<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
</script>

{% endblock %}

{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action = "{% url qStellen %}" method="GET" >
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Abfrage" />
</form>


<br>

<hr>

<div id="accordion">
<h3> Alle Stellen, ohne Berücksichtigung von Zusagen </h3>
<div>
<div id="tabs">
<ul>
  <li> <a href="#tabs-details">Stellendetails </a> </li>
  <li> <a href="#tabs-art">Gruppiert nach Finanzierung</a> </li>
  <li> <a href="#tabs-wertigkeit">Gruppiert nach Wertigkeit</a> </li>
</ul>
<div id="tabs-details">
{% render_table stellen %}
</div>
<div id="tabs-art">

{% render_table gruppe %}
</div>

<div id="tabs-wertigkeit">
{% render_table wertigkeit %}
</div>
</div>
</div>

<h3> Stellen nach Wertigkeit gruppiert, Zusagen sind abgezogen </h3>

<div>
  {% render_table stellenOhneZusagen %}
</div>
</div>


{% endblock content %}
