{% extends "stellenplan/qBasic.html" %}


{% load render_table from django_tables2 %}

{% block extrahead %}
{{ block.super }}

<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>

<script>
$(function() {
$( "#tabs1" ).tabs();
});
</script>


{% if Accordion %}
{% for h in Accordion %}
  <!-- create a tab script for each accordion -->
  <script>
     $(function() {
     $( "#tabs-{{h.key}}" ).tabs();
     });
   </script>

   <!-- does this accordion have a Gantt entry? then its content goes here -->
  {% for tabentry in h.content %}
     {% ifequal tabentry.t "Gantt" %}
         {{ tabentry.c|safe}}
     {% endifequal %} 
  {% endfor %}
{% endfor %}
{% endif %} 


{{ gantt|safe }}
{{ wertigkeitGantt|safe }} 

{% endblock extrahead %}

{% block content %}

{{ block.super }}

{% if error_message %}

{% else %}





{% if Accordion %}

  <div id="accordion"> 
  {% for h in Accordion %}
    <h3> {{ h.title }} </h3>
    <div>
      {% if h.mainContent %}
        {% render_table h.mainContent %}
      {% endif %}

      <!-- TODO:  only insert tabs if they are present -->
      {% if h.content|length > 0 %}
      <div id="tabs-{{h.key}}">
	<ul>
	  {% for refs in h.content %}
	  <li>  <a href="#tabs-{{h.key}}-{{forloop.counter}}"> {{refs.t}}  </a> </li> 
	  {% endfor %} 
	</ul>
	{% for refs in h.content %}
  	  <div id="tabs-{{h.key}}-{{forloop.counter}}">
	    {% ifequal refs.t "Tabelle" %}
	      {% render_table refs.c %}
	    {% else %}
	      {% ifequal refs.t "Gantt" %}
	         <div class="{{h.key}}"> </div>  
	      {% else %}
	         {{ refs.c }} 
	      {% endifequal %}
	    {% endifequal %} 
	  </div>
	{% endfor %} 
      </div> <!-- end of div tabs -->
      {% endif %}
    </div>
  {% endfor %}
  </div> <!-- end accordion --> 
{% endif %} 


<h2> Manuelles Accordion </h2>

<div id="accordion">

<h3> Stellen nach Wertigkeit gruppiert, Zusagen sind abgezogen, als Tabelle</h3>
<div>
  <div id="tabs1">
    <ul>
      <li><a href="#tabs1-2">Proin dolor</a></li>
      <li><a href="#tabs1-3">Aenean lacinia</a></li>
    </ul>
    <div id="tabs1-2">
      {% render_table stellenOhneZusagen %}
    </div>
    <div id="tabs1-3">
      <div class="gantt"></div>
    </div>
  </div>
</div>

<h3> Alle Stellen, ohne Berücksichtigung von Zusagen </h3>
<div>
  <div id="tabs">
    <ul>
      <li> <a href="#tabs-details">Stellendetails </a> </li>
      <li> <a href="#tabs-art">Gruppiert nach Finanzierung</a> </li>
      <li> <a href="#tabs-wertigkeit">Gruppiert nach Wertigkeit</a> </li>
      <li> <a href="#tabs-wertigkeitGantt">Gruppiert nach Wertigkeit, Gantt</a> </li>
    </ul>
    <div id="tabs-details">
      {% render_table stellen %}
    </div>
    <div id="tabs-art">
      {% render_table gruppe %}
    </div>
    <div id="tabs-wertigkeit">
      {% render_table wertigkeit %}
    </div>
    <div id="tabs-wertigkeitGantt">
      <div class="wertigkeitGantt">
      </div>
    </div>
  </div>
</div>



<!-- end of accordion --!> 
</div>   




{% endif %}


			
{% endblock content %}
