{% extends "stellenplan/qBasic.html" %}


{% load render_table from django_tables2 %}

{% block extrahead %}
{{ block.super }}



{% if Accordion %}
{% for h in Accordion %}
  <!-- create a tab script for each accordion -->
  <script>
     $(function() {
     $( "#tabs-{{h.key}}" ).tabs();
     });
   </script>

   <!-- does this accordion have a Gantt entry? then its content goes here -->
  {% for tabentry in h.content %}
     {% ifequal tabentry.t "Gantt" %}
         {{ tabentry.c|safe}}
     {% endifequal %} 
  {% endfor %}
{% endfor %}
{% endif %} 



{% endblock extrahead %}

{% block content %}

{{ block.super }}

{% if error_message %}
<!-- error, dont do anything -->

{% else %}


{% if Accordion %}

  <div id="accordion"> 
  {% for h in Accordion %}
    <h3> {{ h.title }} </h3>
    <div>
      {% if h.mainContent %}
        {% render_table h.mainContent %}
      {% endif %}

      <!-- TODO:  only insert tabs if they are present -->
      {% if h.content|length > 0 %}
      <div id="tabs-{{h.key}}">
	<ul>
	  {% for refs in h.content %}
	  <li>  <a href="#tabs-{{h.key}}-{{forloop.counter}}"> {{refs.t}}  </a> </li> 
	  {% endfor %} 
	</ul>
	{% for refs in h.content %}
  	  <div id="tabs-{{h.key}}-{{forloop.counter}}">
	    {% ifequal refs.t "Tabelle" %}
	      {% render_table refs.c %}
	    {% else %}
	      {% ifequal refs.t "Gantt" %}
	         <div class="{{h.key}}"> </div>  
	      {% else %}
	         {{ refs.c }} 
	      {% endifequal %}
	    {% endifequal %} 
	  </div>
	{% endfor %} 
      </div> <!-- end of div tabs -->
      {% endif %}
    </div>
  {% endfor %}
  </div> <!-- end accordion --> 
{% endif %} 




{% endif %}


			
{% endblock content %}
